In [1]:
from sklearn import tree
import pandas as pd
import os
from zipfile import ZipFile

In [2]:
i=("../Data/combined_csv.zip")

zf = ZipFile(i)
    
name = zf.namelist()[0]

print(name)

df = pd.read_csv(zf.open(name))

combined_csv.csv

/Applications/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.head()

,Station,Sector,Location,Longitude,Latitude,#YY,MM,Date,hh,mm,...,PRES(T hPa),ATMP(Cel),WTMP(Cel),DEWP(Cel),VIS(mi),TIDE(ft),Category,Long,Lat,WDI(deg)
0,42002,WEST GULF,207 NM East of Brownsville TX,26.055,-93.646,2019,Jan,1/1/2019,0,50,...,1014.8,21.0,23.4,999.0,99,99,0,NaN,NaN,NaN
1,42002,WEST GULF,207 NM East of Brownsville TX,26.055,-93.646,2019,Jan,1/1/2019,1,50,...,1015.1,21.3,23.4,999.0,99,99,0,NaN,NaN,NaN
2,42002,WEST GULF,207 NM East of Brownsville TX,26.055,-93.646,2019,Jan,1/1/2019,2,50,...,1015.6,21.7,23.4,999.0,99,99,0,NaN,NaN,NaN
3,42002,WEST GULF,207 NM East of Brownsville TX,26.055,-93.646,2019,Jan,1/1/2019,3,50,...,1015.7,21.8,23.4,999.0,99,99,0,NaN,NaN,NaN
4,42002,WEST GULF,207 NM East of Brownsville TX,26.055,-93.646,2019,Jan,1/1/2019,4,50,...,1015.9,22.2,23.4,999.0,99,99,0,NaN,NaN,NaN

In [4]:
len(df.index)

1595720

In [5]:
list(df.columns)

['Station',
 'Sector',
 'Location',
 'Longitude',
 'Latitude',
 '#YY',
 'MM',
 'Date',
 'hh',
 'mm',
 'WDI_deg',
 'R WSP(T m/s)',
 'D GST(m/s)',
 'WVHT(m)',
 'DPD(sec)',
 'APD(sec)',
 'MWD(deg)',
 'PRES(T hPa)',
 'ATMP(Cel)',
 'WTMP(Cel)',
 'DEWP(Cel)',
 'VIS(mi)',
 'TIDE(ft)',
 'Category',
 'Long',
 'Lat',
 'WDI(deg)']

In [6]:
df_edited=df[['Station',
 'Sector',
 'Location',
 "Category",
 '#YY',
 'MM',
 'Date','WVHT(m)', 'R WSP(T m/s)', 'WTMP(Cel)']]

In [7]:
i=("../Data/stormdata.zip")

zf = ZipFile(i)
    
name = zf.namelist()[0]

print(name)

df_storm = pd.read_csv(zf.open(name))

stormdata.csv

In [8]:
list(df_storm.columns)

['Start Date_st',
 'End Date_st',
 'Name_st',
 'State_st',
 'Category_st',
 'Central Pressure_st',
 'Max Wind (Kt)_st',
 'Date',
 'Location',
 'MM',
 'Sector',
 'Station',
 '#YY',
 'APD(sec)',
 'ATMP(Cel)',
 'Hh',
 'Min',
 'D GST(m/s)',
 'DEWP(Cel)',
 'DPD(sec)',
 'Longitude',
 'Latitude',
 'MWD(deg)',
 'PRES(T hPa)',
 'R WSP(T m/s)',
 'TIDE(ft)',
 'VIS(mi)',
 'WDI deg',
 'WTMP(Cel)',
 'WVHT(m)']

In [9]:
df_storm=df_storm.rename(columns={ "Category_st": "Category" })

In [10]:
df_storm.head()

,Start Date_st,End Date_st,Name_st,State_st,Category,Central Pressure_st,Max Wind (Kt)_st,Date,Location,MM,...,Longitude,Latitude,MWD(deg),PRES(T hPa),R WSP(T m/s),TIDE(ft),VIS(mi),WDI deg,WTMP(Cel),WVHT(m)
0,7/14/2019,7/16/2019,Barry,LA 2,2.0,993,90,7/14/2019,208 NM West of Naples FL ...,Jul,...,25.925,-85.615,999,1016.5,6.0,99,99,118,28.6,99.0
1,7/15/2019,7/16/2019,Barry,LA 2,2.0,993,90,7/15/2019,208 NM West of Naples FL ...,Jul,...,25.925,-85.615,999,1018.1,5.7,99,99,117,28.9,99.0
2,7/16/2019,7/16/2019,Barry,LA 2,2.0,993,90,7/16/2019,208 NM West of Naples FL ...,Jul,...,25.925,-85.615,999,1017.8,6.4,99,99,91,29.4,99.0
3,7/13/2019,7/16/2019,Barry,LA 2,2.0,993,90,7/13/2019,208 NM West of Naples FL ...,Jul,...,25.925,-85.615,999,1013.8,8.6,99,99,181,29.4,99.0
4,7/12/2019,7/16/2019,Barry,LA 2,2.0,993,90,7/12/2019,208 NM West of Naples FL ...,Jul,...,25.925,-85.615,999,1012.0,8.4,99,99,213,29.7,99.0

In [11]:
df_storm_edited=df_storm[['Station',
 'Sector',
 'Location',  
 "Category",
 '#YY',
 'MM',
 'Date','WVHT(m)', 'R WSP(T m/s)', 'WTMP(Cel)']]

In [12]:
df_storm_edited.head()

,Station,Sector,Location,Category,#YY,MM,Date,WVHT(m),R WSP(T m/s),WTMP(Cel)
0,42003,East GULF,208 NM West of Naples FL ...,2.0,2019,Jul,7/14/2019,99.0,6.0,28.6
1,42003,East GULF,208 NM West of Naples FL ...,2.0,2019,Jul,7/15/2019,99.0,5.7,28.9
2,42003,East GULF,208 NM West of Naples FL ...,2.0,2019,Jul,7/16/2019,99.0,6.4,29.4
3,42003,East GULF,208 NM West of Naples FL ...,2.0,2019,Jul,7/13/2019,99.0,8.6,29.4
4,42003,East GULF,208 NM West of Naples FL ...,2.0,2019,Jul,7/12/2019,99.0,8.4,29.7

In [13]:
df_edited.head()

,Station,Sector,Location,Category,#YY,MM,Date,WVHT(m),R WSP(T m/s),WTMP(Cel)
0,42002,WEST GULF,207 NM East of Brownsville TX,0,2019,Jan,1/1/2019,1.85,5.2,23.4
1,42002,WEST GULF,207 NM East of Brownsville TX,0,2019,Jan,1/1/2019,2.07,5.9,23.4
2,42002,WEST GULF,207 NM East of Brownsville TX,0,2019,Jan,1/1/2019,1.77,5.1,23.4
3,42002,WEST GULF,207 NM East of Brownsville TX,0,2019,Jan,1/1/2019,1.74,6.1,23.4
4,42002,WEST GULF,207 NM East of Brownsville TX,0,2019,Jan,1/1/2019,1.50,4.9,23.4

In [14]:
final=df_edited.append(df_storm_edited)

In [15]:
final=final.dropna()

In [16]:
target = final["Category"].astype(str)

In [17]:
data = final[["R WSP(T m/s)", "WTMP(Cel)", "WVHT(m)"]]
feature_names = data.columns
data

        R WSP(T m/s)  WTMP(Cel)  WVHT(m)
0                5.2       23.4     1.85
1                5.9       23.4     2.07
2                5.1       23.4     1.77
3                6.1       23.4     1.74
4                4.9       23.4     1.50
...              ...        ...      ...
106735           6.7       29.9     1.66
106736           3.8       29.8     1.80
106737           5.7       29.9     1.64
106738           5.3       29.8     1.72
106739           7.4       29.7     1.56

[1702460 rows x 3 columns]

In [18]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, train_size=0.80, random_state=42)

In [19]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.9223065446471577

In [20]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.9308941179234754

In [21]:
df_test = pd.read_csv("../Data/aug2020_42003v2.csv")
aug_24=df_test.loc[df_test["DD"]=='24']
aug_24.head(10)

,#YY,MM,DD,hh,mm,WDIR,WSPD,GST,WVHT,DPD,APD,MWD,PRES,ATMP,WTMP,DEWP,VIS,TIDE
3313,2020,8,24,0,0,999,6,7.7,99,99,99,999,1010.9,999,29.4,999,99,99
3314,2020,8,24,0,10,999,6.2,8,99,99,99,999,1011,999,29.4,999,99,99
3315,2020,8,24,0,20,999,6.3,8.2,99,99,99,999,1011.3,999,29.4,999,99,99
3316,2020,8,24,0,30,999,5.9,7.6,99,99,99,999,1011.4,999,29.5,999,99,99
3317,2020,8,24,0,40,999,5.6,7,2.03,7.14,5.72,126,1011.5,999,29.5,999,99,99
3318,2020,8,24,0,50,999,5.6,7.4,99,99,99,999,1011.5,999,29.6,999,99,99
3319,2020,8,24,1,0,999,5.5,7.1,99,99,99,999,1011.7,999,29.6,999,99,99
3320,2020,8,24,1,10,999,5,6.6,99,99,99,999,1011.8,999,29.6,999,99,99
3321,2020,8,24,1,20,999,4.4,5.8,99,99,99,999,1011.9,999,29.6,999,99,99
3322,2020,8,24,1,30,999,6.5,10.8,99,99,99,999,1012,999,29.6,999,99,99

In [22]:
# Create an empty list 
test_values =[] 
  
# Iterate over each row 
for index, rows in aug_24.iterrows(): 
    # Create list for the current row 
    my_list =[rows.WSPD, rows.WTMP, rows.WVHT] 
      
    # append the list to the final list 
    test_values.append(my_list) 
  
# Print the list 
print(test_values)

[['6', '29.4', '99'], ['6.2', '29.4', '99'], ['6.3', '29.4', '99'], ['5.9', '29.5', '99'], ['5.6', '29.5', '2.03'], ['5.6', '29.6', '99'], ['5.5', '29.6', '99'], ['5', '29.6', '99'], ['4.4', '29.6', '99'], ['6.5', '29.6', '99'], ['9.1', '29.6', '1.94'], ['9.5', '29.6', '99'], ['9.4', '29.6', '99'], ['9.3', '29.6', '99'], ['9.4', '29.6', '99'], ['9.1', '29.6', '99'], ['9.4', '29.6', '1.82'], ['9.3', '29.6', '99'], ['9.3', '29.6', '99'], ['8.7', '29.6', '99'], ['8.7', '29.6', '99'], ['8.5', '29.6', '99'], ['8.9', '29.6', '1.76'], ['8.6', '29.6', '99'], ['8.6', '29.5', '99'], ['8.8', '29.5', '99'], ['9.2', '29.4', '99'], ['9', '29.4', '99'], ['9.1', '29.5', '1.64'], ['8.9', '29.5', '99'], ['9.2', '29.5', '99'], ['8.7', '29.5', '99'], ['9', '29.5', '99'], ['8.8', '29.5', '99'], ['8.6', '29.5', '1.65'], ['8.6', '29.5', '99'], ['8.5', '29.5', '99'], ['8.2', '29.5', '99'], ['8.4', '29.5', '99'], ['7.8', '29.5', '99'], ['7.8', '29.5', '1.49'], ['7.7', '29.5', '99'], ['7.8', '29.5', '99'], ['7.5', '29.5', '99'], ['7', '29.5', '99'], ['7.2', '29.6', '99'], ['6.8', '29.6', '1.52'], ['6.4', '29.6', '99'], ['6.5', '29.6', '99'], ['7.3', '29.6', '99'], ['6.8', '29.6', '99'], ['6.4', '29.6', '99'], ['6.9', '29.6', '1.23'], ['6.4', '29.6', '99'], ['6.4', '29.5', '99'], ['6.8', '29.5', '99'], ['6.5', '29.5', '99'], ['6.3', '29.4', '99'], ['6.3', '29.4', '1.25'], ['5.8', '29.4', '99'], ['5.7', '29.4', '99'], ['5.4', '29.4', '99'], ['5.6', '29.4', '99'], ['5.3', '29.4', '99'], ['5.3', '29.4', '1.09'], ['5.1', '29.4', '99'], ['5.2', '29.4', '99'], ['5.1', '29.4', '99'], ['4.9', '29.4', '99'], ['5', '29.4', '99'], ['4.9', '29.3', '1.02'], ['4.7', '29.3', '99'], ['4.8', '29.3', '99'], ['4.8', '29.2', '99'], ['4.6', '29.1', '99'], ['4.6', '29.1', '99'], ['4.2', '29.1', '0.93'], ['4.6', '29.1', '99'], ['4.7', '29.1', '99'], ['4.6', '29.1', '99'], ['4.2', '29.1', '99'], ['5.1', '29.1', '99'], ['5.3', '29.1', '0.82'], ['3.9', '29.1', '99'], ['3.3', '29.1', '99'], ['2.9', '29.1', '99'], ['2.9', '29.1', '99'], ['2.8', '29.1', '99'], ['3.7', '29.2', '0.87'], ['3.5', '29.2', '99'], ['3.3', '29.2', '99'], ['3.3', '29.2', '99'], ['3.6', '29.3', '99'], ['3.5', '29.3', '99'], ['3.2', '29.3', '0.84'], ['3.4', '29.3', '99'], ['3.6', '29.2', '99'], ['3.2', '29.4', '99'], ['3.5', '29.3', '99'], ['3.4', '29.3', '99'], ['4', '29.3', '0.78'], ['4.4', '29.2', '99'], ['4.2', '29.3', '99'], ['3.8', '29.4', '99'], ['3.6', '29.4', '99'], ['5.3', '29.4', '99'], ['6.3', '29.4', '0.94'], ['5.5', '29.4', '99'], ['3.3', '29.4', '99'], ['3.2', '29.4', '99'], ['2.9', '29.5', '99'], ['2.4', '29.5', '99'], ['2.9', '29.5', '0.81'], ['2.5', '29.5', '99'], ['3.6', '29.6', '99'], ['4.8', '29.5', '99'], ['4.8', '29.5', '99'], ['4.8', '29.5', '99'], ['5', '29.6', '0.85'], ['4.7', '29.6', '99'], ['4.8', '29.7', '99'], ['4.7', '29.7', '99'], ['4.6', '29.7', '99'], ['4.8', '29.7', '99'], ['4.4', '29.7', '0.87'], ['4.1', '29.7', '99'], ['3.8', '29.7', '99'], ['4.5', '29.6', '99'], ['4.9', '29.6', '99'], ['6', '29.6', '99'], ['5.9', '29.6', '0.9'], ['5.9', '29.6', '99'], ['6.6', '29.6', '99'], ['6.5', '29.6', '99'], ['6.5', '29.7', '99'], ['5.8', '29.7', '99'], ['6.2', '29.6', '1.05'], ['7.1', '29.6', '99'], ['7.4', '29.6', '99'], ['8.1', '29.6', '99'], ['7.9', '29.6', '99'], ['8', '29.5', '99'], ['8.1', '29.6', '1.18'], ['8.2', '29.5', '99']]

In [23]:
clf.predict(test_values)

array(['0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0',
       '0.0', '1.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0',
       '0.0', '0.0', '0.0', '0.0', '0.5', '0.0', '0.0', '0.0', '0.0',
       '0.0', '0.5', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0',
       '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0',
       '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0',
       '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0',
       '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0',
       '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0',
       '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0',
       '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0',
       '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0',
       '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0',
       '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0',
       '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0',
       '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0'],
      dtype=object)