In [6]:
from sklearn import tree
import pandas as pd
import os
from zipfile import ZipFile

In [7]:
i=("Data/combined_csv.zip")

zf = ZipFile(i)
    
name = zf.namelist()[0]

print(name)

df = pd.read_csv(zf.open(name))

combined_csv.csv

/Applications/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [8]:
df.head()

,Station,Sector,Location,Longitude,Latitude,#YY,MM,Date,hh,mm,...,PRES(T hPa),ATMP(Cel),WTMP(Cel),DEWP(Cel),VIS(mi),TIDE(ft),Category,Long,Lat,WDI(deg)
0,42002,WEST GULF,207 NM East of Brownsville TX,26.055,-93.646,2019,Jan,1/1/2019,0,50,...,1014.8,21.0,23.4,999.0,99,99,0,NaN,NaN,NaN
1,42002,WEST GULF,207 NM East of Brownsville TX,26.055,-93.646,2019,Jan,1/1/2019,1,50,...,1015.1,21.3,23.4,999.0,99,99,0,NaN,NaN,NaN
2,42002,WEST GULF,207 NM East of Brownsville TX,26.055,-93.646,2019,Jan,1/1/2019,2,50,...,1015.6,21.7,23.4,999.0,99,99,0,NaN,NaN,NaN
3,42002,WEST GULF,207 NM East of Brownsville TX,26.055,-93.646,2019,Jan,1/1/2019,3,50,...,1015.7,21.8,23.4,999.0,99,99,0,NaN,NaN,NaN
4,42002,WEST GULF,207 NM East of Brownsville TX,26.055,-93.646,2019,Jan,1/1/2019,4,50,...,1015.9,22.2,23.4,999.0,99,99,0,NaN,NaN,NaN

In [9]:
len(df.index)

1595720

In [12]:
list(df.columns)

['Station',
 'Sector',
 'Location',
 'Longitude',
 'Latitude',
 '#YY',
 'MM',
 'Date',
 'hh',
 'mm',
 'WDI_deg',
 'R WSP(T m/s)',
 'D GST(m/s)',
 'WVHT(m)',
 'DPD(sec)',
 'APD(sec)',
 'MWD(deg)',
 'PRES(T hPa)',
 'ATMP(Cel)',
 'WTMP(Cel)',
 'DEWP(Cel)',
 'VIS(mi)',
 'TIDE(ft)',
 'Category',
 'Long',
 'Lat',
 'WDI(deg)']

In [48]:
df_edited=df[['Station',
 'Sector',
 'Location',
 "Category",
 '#YY',
 'MM',
 'Date','WVHT(m)', 'R WSP(T m/s)', 'WTMP(Cel)']]

In [52]:
i=("Data/stormdata.zip")

zf = ZipFile(i)
    
name = zf.namelist()[0]

print(name)

df_storm = pd.read_csv(zf.open(name))

stormdata.csv

In [53]:
list(df_storm.columns)

['Start Date_st',
 'End Date_st',
 'Name_st',
 'State_st',
 'Category_st',
 'Central Pressure_st',
 'Max Wind (Kt)_st',
 'Date',
 'Location',
 'MM',
 'Sector',
 'Station',
 '#YY',
 'APD(sec)',
 'ATMP(Cel)',
 'Hh',
 'Min',
 'D GST(m/s)',
 'DEWP(Cel)',
 'DPD(sec)',
 'Longitude',
 'Latitude',
 'MWD(deg)',
 'PRES(T hPa)',
 'R WSP(T m/s)',
 'TIDE(ft)',
 'VIS(mi)',
 'WDI deg',
 'WTMP(Cel)',
 'WVHT(m)']

In [51]:
df_storm=df_storm.drop(["Category"])

KeyError: "['Category'] not found in axis"

In [54]:
df_storm=df_storm.rename(columns={ "Category_st": "Category" })

In [55]:
df_storm.head()

,Start Date_st,End Date_st,Name_st,State_st,Category,Central Pressure_st,Max Wind (Kt)_st,Date,Location,MM,...,Longitude,Latitude,MWD(deg),PRES(T hPa),R WSP(T m/s),TIDE(ft),VIS(mi),WDI deg,WTMP(Cel),WVHT(m)
0,7/14/2019,7/16/2019,Barry,LA 2,2.0,993,90,7/14/2019,208 NM West of Naples FL ...,Jul,...,25.925,-85.615,999,1016.5,6.0,99,99,118,28.6,99.0
1,7/15/2019,7/16/2019,Barry,LA 2,2.0,993,90,7/15/2019,208 NM West of Naples FL ...,Jul,...,25.925,-85.615,999,1018.1,5.7,99,99,117,28.9,99.0
2,7/16/2019,7/16/2019,Barry,LA 2,2.0,993,90,7/16/2019,208 NM West of Naples FL ...,Jul,...,25.925,-85.615,999,1017.8,6.4,99,99,91,29.4,99.0
3,7/13/2019,7/16/2019,Barry,LA 2,2.0,993,90,7/13/2019,208 NM West of Naples FL ...,Jul,...,25.925,-85.615,999,1013.8,8.6,99,99,181,29.4,99.0
4,7/12/2019,7/16/2019,Barry,LA 2,2.0,993,90,7/12/2019,208 NM West of Naples FL ...,Jul,...,25.925,-85.615,999,1012.0,8.4,99,99,213,29.7,99.0

In [56]:
df_storm_edited=df_storm[['Station',
 'Sector',
 'Location',  
 "Category",
 '#YY',
 'MM',
 'Date','WVHT(m)', 'R WSP(T m/s)', 'WTMP(Cel)']]

In [57]:
df_storm_edited.head()

,Station,Sector,Location,Category,#YY,MM,Date,WVHT(m),R WSP(T m/s),WTMP(Cel)
0,42003,East GULF,208 NM West of Naples FL ...,2.0,2019,Jul,7/14/2019,99.0,6.0,28.6
1,42003,East GULF,208 NM West of Naples FL ...,2.0,2019,Jul,7/15/2019,99.0,5.7,28.9
2,42003,East GULF,208 NM West of Naples FL ...,2.0,2019,Jul,7/16/2019,99.0,6.4,29.4
3,42003,East GULF,208 NM West of Naples FL ...,2.0,2019,Jul,7/13/2019,99.0,8.6,29.4
4,42003,East GULF,208 NM West of Naples FL ...,2.0,2019,Jul,7/12/2019,99.0,8.4,29.7

In [58]:
df_edited.head()

,Station,Sector,Location,Category,#YY,MM,Date,WVHT(m),R WSP(T m/s),WTMP(Cel)
0,42002,WEST GULF,207 NM East of Brownsville TX,0,2019,Jan,1/1/2019,1.85,5.2,23.4
1,42002,WEST GULF,207 NM East of Brownsville TX,0,2019,Jan,1/1/2019,2.07,5.9,23.4
2,42002,WEST GULF,207 NM East of Brownsville TX,0,2019,Jan,1/1/2019,1.77,5.1,23.4
3,42002,WEST GULF,207 NM East of Brownsville TX,0,2019,Jan,1/1/2019,1.74,6.1,23.4
4,42002,WEST GULF,207 NM East of Brownsville TX,0,2019,Jan,1/1/2019,1.50,4.9,23.4

In [59]:
final=df_edited.append(df_storm_edited)

In [60]:
target = final["Category"].astype(str)

In [61]:
data = result[["R WSP(T m/s)", "WTMP(Cel)", "WVHT(m)"]]
feature_names = data.columns
data.head()

   R WSP(T m/s)  R WSP(T m/s)  WTMP(Cel)  WTMP(Cel)  WVHT(m)  WVHT(m)
0           6.0           5.2       28.6       23.4     99.0     1.85
1           5.7           5.9       28.9       23.4     99.0     2.07
2           6.4           5.1       29.4       23.4     99.0     1.77
3           8.6           6.1       29.4       23.4     99.0     1.74
4           8.4           4.9       29.7       23.4     99.0     1.50

In [62]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, test_size=0.80, random_state=42)

ValueError: Found input variables with inconsistent numbers of samples: [1595720, 1702460]

In [39]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').